.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.country-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}
img {
  height: 50%;
  cursor: pointer;
}
.country-name {
  font-size: 14px;
  font-weight: bold;
}
.loader {
  display: flex;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: end;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #c5c5c5;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.Navbar{
    position:static;
}
.popup-body{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.modal-show{
    width: 700px;
    height: 300px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.close-popup{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
}
.overlay{
    position: fixed;
    background-color: grey;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media (min-width: 420px) and (max-width:980px){
    .country-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 420px){
    .country-container{
        grid-template-columns: 1fr;
    }
}